{% extends 'base.html' %}


{% block body_block %}

{% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <b><center>{{ message }}</center> </b>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

</br>
<div class='container-sm'>
<form method='POST' class='form-control' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input class='form-control btn btn-primary' type='submit' value='submit'>
    </br>
</form>
</div>


{% endblock %}
