{% extends 'base.html' %}

{% block body_block %}
<br>
<br>
<center>
    {{ lecture }}
    <h5>
{{ lecture.lecture_name }} by {{ lecture.teacher }}
    </h5>
    <br>
    
Semester: {{ lecture.semester }} of branch {{ lecture.branch }}
<br>
<br>
</br>
<hr>
<hr>
</center>

</br>
ACCEPTED STUDENT LIST:
{% for stud in lecture.accepted_user.all %}
<a href="{{ stud.get_absolute_url }}">{{ stud.user.username }} {{ stud.email }} {{ stud.enrollment_number }} {{ stud.college }} {{ stud.branch }} </a> 
{% if user.user_profile == lecture.teacher %}
&nbsp <a href="{% url 'teacher:decline_req' user_id=stud.pk lec_id=lecture.id %}">Remove</a></br>
{% else %}{% endif %}
{% endfor %}

</br>
REQUESTED STUDENT LIST:
{% for stud in lecture.requested_user.all %}
<a href="{{ stud.get_absolute_url }}">{{ stud.user }} {{ stud.email }} {{ stud.enrollment_number }} {{ stud.branch }}</a>
{% if user.user_profile == lecture.teacher %}
<a href="{% url 'teacher:accept_req' user_id=stud.pk lec_id=lecture.id %}">Accept</a> <a href="{% url 'teacher:decline_req' user_id=stud.pk lec_id=lecture.id %}">Decline</a></br>
{% else %}{% endif %}
{% endfor %}

</br>
<hr>
<center>
    {% if user.is_teacher %}
<a href="{% url "teacher:reset-cnf" pk=lecture.pk %}">
    <button class='btn btn-danger'>Reset Attandace of Lecture</button>
</a>

<a href="{% url "teacher:lec-update" pk=lecture.pk %}">
    <button class='btn btn-success'>Update Lecture</button>
</a>


<form id="sessionForm" method='POST' action="{% url 'recognizer:change-website' %}"  data-url="{% url 'recognizer:change-website' %}">   
    {% csrf_token %}
    <input type='hidden' name='next' value={{ request.get_uri }}>
    <input type='hidden' name='lecture' value='{{ lecture.pk }}'>
    <input id="changeSession" class='mybutton vhmax {% if lecture.allow_recognize %}danger{% else %}success{% endif %}' type='submit' value='{% if lecture.allow_recognize %}Disable{% else %}Enable{% endif %} Taking Attendance of {{lecture.lecture_name}}, code: {{ lecture.code }}' name='submit'>
</form>

</center>


{% for session in lecture.change_website_objects_lecture.all %}
{% if forloop.first %}
<h1>Sessions of the lecture </h1>
{% else %}{% endif %}
<a href="{% url 'teacher:session-detail' pk=session.pk %}"><b>{{ session }}</b></a>
<br>
{% endfor %}
{% else %}

<center>
{% if user.user_profile in lecture.requested_user.all or user.user_profile in lecture.accepted_user.all %}
request sent
{% else %} <a href="{% url 'teacher:send_request' pk=lecture.pk %}"><button class='btn btn-dark'> Send request</button></a> {% endif %}

{% endif %}
</center>

{% endblock %}