# db.sqlite3
media
data/
.env.dev
face_recog
websocket.py
docker/
certbot/
/data
key.pem
cert.pem
ssh
ssh/
certbot.sh
nginx.conf

# JIRA plugin
atlassian-ide-plugin.xml



# Distribution / packaging 
 
develop-eggs/ 

# Jupyter Notebook 
.ipynb_checkpoints 




# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 





# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history



node_modules