db.sqlite3
media
data/
.dockerignore
.env.dev
# docker-compose.yml
# dockerfile
face_recog
package.json
package-lock.json
websocket.py
docker/
certbot/
/data


# JIRA plugin
atlassian-ide-plugin.xml



# Distribution / packaging 
 
develop-eggs/ 

# Jupyter Notebook 
.ipynb_checkpoints 




# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 





# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history



node_modules