{% load static %}

<nav class="navbar sticky-top fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'recognizer:home' %}">
  <img src="{% static 'images/favicon.png' %%}" width="30" height="30" class="d-inline-block align-center" alt="">
   <span class="navbar-brand mb-0 h1">LogUp</span></a>
  <button class="navbar-toggler" type="button" data-hover="dropdown" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'recognizer:home' %}">Home <span class="sr-only">(current)</span></a>
      </li>



      {% for obj in request.user.user_profile.all %}
      <li class="nav-item active">
      <a class="nav-link" href="{% if request.user.is_authenticated %}{% url 'recognizer:profile' pk=obj.pk %}{% else %}#{% endif %}">See Profile</a>
      </li>
      {% endfor %}

      {% if request.user.is_superuser %}
      <li class="nav-item active">
        <a class="nav-link" href="{% if request.user %}{% url 'teacher:dashboard' %}{% else %}{% endif %}">Dashboard</a>
      </li>
        {% else %} {% endif %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href={% if request.user_pk %}"{% url 'recognizer:profile' pk=request.user_pk %}"{% else %}{% endif %} id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if not request.user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'recognizer:login' %}">Login</a>
          <a class="dropdown-item" href="{% url 'recognizer:signup' %}">Sign-Up</a>
          {% else %}
          <a class="dropdown-item" href="{% url 'recognizer:logout-cnf' %}">Logout</a>
          {% endif %}
          <div class="dropdown-divider"></div>
          
          

          {% comment %} <a class="dropdown-item" href="{% url 'tag:create' %}">Add Tag</a> {% endcomment %}
        </div>
      </li>
       
    </ul>
    {% comment %} <form class="form-inline my-2 my-lg-0" method='GET' action='{% url "main_app:search" %}'>
      <input class="form-control" type="search" name='q' placeholder="Search" aria-label="Search" value='{{ request.GET.q }}'>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> {% endcomment %}



</nav>