{% extends 'base.html' %}

{% block body_block %}
<style>
#container {
	margin: 0px auto;
	width: 500px;
	height: 375px;
	border: 10px #333 solid;
}
#videoElement {
	width: 500px;
	height: 375px;
	background-color: #666;
}

{% comment %} .myCanvas{
       background-image: url("{{ url 'recognizer:login-with-face' }}"); 
} {% endcomment %}

</style>

<spacer type="vertical" width="1000" height="1000">  </spacer>
<div class='container-fluid'>
{% if messages %}


    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <b><center>{{ message }}</center> </b>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}


{% endif %}

<div >
<p>
{{ data }} {% if not user.image %} <a href="{% url 'recognizer:update-profile' pk=user.pk %}"> Update Profile {% else %}{% endif %}</a>
<p>
</div>
<hr>

{% if recognize %}
<div class='container-sm'>
{% if teacher %}
{% else %}
{% if user.image %}
  <form method='POST' action="{% url 'recognizer:home' %}">
  {{ login_details_form.as_p }}
  {% csrf_token %}
  <input class='form-control btn btn-dark' type='submit' value='Recognize My Face' name='submit'>
  </form>
{% else %}{% endif %}
{% endif %}
</div>
{% else %}{% endif %}

<div class='container-fluid'>
{% if request.user.is_superuser or request.user in request.user.teacher_profile.all %}
<hr>
</br>
<form method='POST' action="{% url 'recognizer:change-website' %}">
  {% csrf_token %}
  {% if change_site_count|divisibleby:2 %}
  <input class='form-control btn btn-danger' type='submit' value='Disable Taking Attendance' name='submit'>
  {% else %}
  <input class='form-control btn btn-danger' type='submit' value='Enable Taking Attendance' name='submit'>
  {% endif %}
</form>
<hr>
</br>
{% else %}{% endif %}
</div>

{% if premium_data %}
<p>Previous Logins</p>
{% for data in premium_data %}

<ul class="list-group">
  <li class="list-group-item">Logged in on {{ data.login_date }}  |  {{ data.login_time }}</li>
  
{% endfor %}
</ul>
{% endif %}

{% if user.login_proceed %}
<a href='https://noteonhand.herokuapp.com'>ToDo site</a>
{% else %}{% endif %}

</div>


{% endblock %}