{% extends 'base.html' %}
{% load static %}


{% block css_block %}
<link rel='stylesheet' href="{% static 'css/main.css' %}">
{% endblock %}


{% block body_block %}

HTTP_X_FORWARDED_FOR : {{ user_ip }}
REMOTE_ADDR : {{ second_user_ip }}

<spacer type="vertical" width="1000" height="1000">  </spacer>
<div class='container-fluid'>
{% if messages %}


    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <b><center>{{ message }}</center> </b>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}


{% endif %}
<div>
<p>
{{ data }} {% if not user.image %} <a href="{% url 'recognizer:update-profile' pk=user.pk %}"> Update Profile {% else %}{% endif %}</a>
<p>
</div>
<hr>

{% comment %} <a href="{% url 'recognizer:redirect_stream' %}">go here</a> {% endcomment %}
{% if request.user.teacher_profile.all.first %}
<form method='POST' action="{% url 'teacher:ip-update' %}">
<b> Your Selected IPs </b>: <ol>
  <li> {{ request.user.teacher_profile.all.first.ip1 }}</li>
    <li> {{ request.user.teacher_profile.all.first.ip2 }}</li>
</ol>
  <br>
{% csrf_token %}
IP address
          <input type='text' name='ip1'>
          <button id='submit' type="submit" class="btn btn-secondary" id="submit" style="margin:12px;">Submit</button>

</form> 
{% else %}{% endif %}
<div class='container-sm'>
{% if teacher %}
{% else %}
{% if user.image %}<!-- recognizer/ajax/lec/ -->
<div class="container-fluid">
  <div class="table-responsive-md">
      <form id="myAwesomeForm" method="POST" name="inputForm" enctype='multipart/form-data' data-attendance-url="{% url 'recognizer:data_lec_url' %}" action="{% url 'recognizer:home' %}">
          {% csrf_token %}
          <div id="camera" class="camera">
            <table class="table">
              <tr>
                <th scope="col">
            <video id="video">Video stream not available.</video>
            <button id="startbutton" type="button">Take photo</button>
          </th>
          <th scope="col">
            <canvas id="canvas">
              </canvas>
          </div>
          <br>
          <div>
            <th scope="col">
              <img id="photo" alt="your image" style="margin:12px;">
              <table class="table">
              {{ login_details_form.as_table }}
              </table>
            </th>
          </div>
          <br>
        <th scope="col">
          <button id='submit' type="submit" class="btn btn-secondary" id="submit" style="margin:12px;">Submit</button>
        </th>
        </table>
      </form>
  </div>
 {% comment %} <img src="{{ path }}" alt="The screen capture will appear in this box."> {% endcomment %}
</div>

{% else %}{% endif %}
{% endif %}
</div>


<div class='container-fluid'>
{% if request.user.is_staff or request.user in request.user.teacher_profile.all %}
<hr>
</br>
<form method='POST' action="{% url 'recognizer:change-website' %}">
  {% csrf_token %}
  {% if change_site_count|divisibleby:2 %}
  <input class='form-control btn btn-outline-danger' type='submit' value='Disable Taking Attendance' name='submit'>
  {% else %}
  <input class='form-control btn btn-outline-success' type='submit' value='Enable Taking Attendance' name='submit'>
  {% endif %}
</form>
<hr>
</br>
{% else %}{% endif %}
</div>

{% if premium_data %}
<p>Previous Logins</p>
{% for data in premium_data %}

<ul class="list-group">
  <li class="list-group-item">Logged in on {{ data.login_date }}  |  {{ data.login_time }}</li>

{% endfor %}
</ul>
{% endif %}

{% if user.login_proceed %}
<a href='https://noteonhand.herokuapp.com'>ToDo site</a>
{% else %}{% endif %}

</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}"></script>

{% endblock %}