{% extends 'base.html' %}
{% load static %}

{% block body_block %}

{% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <b><center>{{ message }}</center> </b>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

</br>


<div class='container-sm'>
<form method='POST' class='form-control' enctype="multipart/form-data" id="profileUpdateForm" city-url="{% url 'recognizer:city-data-url' %}" college-url="{% url 'recognizer:college-data-url' %}" branch-url="{% url 'recognizer:branch-data-url' %}">
    
    {% csrf_token %}
    {{ form.as_p }}
    <input class='form-control btn btn-primary' type='submit' value='submit'>
    </br>
</form>
</div>
<script src="{% static 'recognizer/js/ajax.js' %}"></script>

{% endblock %}

